
ftui-button {
    cursor: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ftui-button #wrapper {
    flex-direction: row;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* default */

ftui-button #icon {
    cursor: pointer;
    background-color: #505050;
    color: #2A2A2A;
    width: 4em;
    height: 4em;
    line-height: 4em;
    /* margin: 0.25em;  */
    border-radius: 5px;
}

ftui-button #icon.active {
    background-color: #aa6900;
}

ftui-button #icon:before {
    /* line-height: 2em; */
    font-size: 2em;
}

/* style: square */

ftui-button.square #icon {
  border-radius: 25%;
}

ftui-button.rounded #icon {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}

/* style: round */

ftui-button.round #icon {
  border-radius: 50%;
}
/* style: btn-text */

ftui-button.btn-text #icon {
    border-radius: 17px;
    text-align: center;
    border: none;
    background-color: #505050;
    color: #fff;
    padding-left: 6em;
    padding-right: 2.5em;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    width: initial;
}

ftui-button.btn-text #icon.active  {
    background-color: #fcad26;
}

ftui-button.btn-text #icon:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 2.6em;
    font-size: 1.5em;
    width: 3em;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
}

/* circle-thin */

ftui-button.circle-thin #icon {
    background-color: transparent;
    color: #505050;
    line-height: 3.5em;
    border-radius: 50%;
    border: 0.25em solid #505050;
}

ftui-button.circle-thin #icon.active {
    border-color: #aa6900;
    color: #aa6900;
}

/* style: btn-rounded */

ftui-button.btn-rounded #icon {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
  width: initial;
}

